@font-face {
    font-family: PT Sans;
    font-weight: 400;
    src: url('./fonts/ptsans-400.woff2');
}

@font-face {
    font-family: PT Sans;
    font-weight: 700;
    src: url('./fonts/ptsans-700.woff2');
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'PT sans', system-ui, sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    margin-left: 70px;
}

.header-logo-container {
  position: relative;
}

.header-logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation-link-more {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    border-bottom: 2px solid transparent;
}

.navigation-link-more:hover {
    border-bottom-color: #000000;
}

.navigation-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.navigation-items-more {
    padding-right: 25px;
}

.want-here {
    border: none;
    background-color: #756157 ;
    color: #ffffff;
    padding: 8px 34px;
    border-radius: 4px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.want-here:hover {
    background-color: #615048;
}

.want-here:active {
    opacity: 0.8;
}

.features-list {
    background-image: url('./img/catalog-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.title-xl {
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    line-height: 78px;
    padding-left: 70px;
    padding-top: 35px;
    margin: 0;
}

.back-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
    padding-top: 8px;
}

.back-home-element {
    padding-right: 15px;
}

.back-home-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.back-home-text:hover {
    opacity: 0.7;
}

.back-home-text:active{
    opacity: 0.5;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.infrastructure {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 16px;
}

.title-filters {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.list-house {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-cost {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apply-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 98px;
}

.filters-item {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.filters-item:hover {
    opacity: 0.5;
}

.apply {
    border: none;
    color: #ffffff;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.apply:hover {
    background-color: #68A2CA;
}

.apply:active {
    opacity: 0.7;
}

.reset {
    border: none;
    color: #ffffff;
    background-color: transparent;
    padding: 8px 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.reset:hover{
    opacity: 0.7;
}

.reset:active {
    opacity: 0.2;
}

.price {
    display: flex;
    gap: 2px;
}

.price-from {
    border: none;
    padding: 12px 20px;
    border-radius: 4px 0 0 4px;
    width: auto;
    max-width: 143px;
}

.price-from:hover {
    filter: brightness(0.85);
}

.price-before {
    border: none;
    padding: 12px 20px;
    border-radius: 0 4px 4px 0;
    width: auto;
    max-width: 143px;
}

.price-before:hover {
    filter: brightness(0.85);
}

.range {
    width: auto;
    max-width: 287px;
}

.card-hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 47px;
    gap: 15px;
    row-gap: 40px;
}

/*.card-hotel::after {          почему-то не работает, что-то я не понимаю
    content: "";
    display: block;
    width: auto;
    max-width: 1060px;
    border-bottom: 1px solid #E5E5E5;
    margin: 20px auto 0;
}*/

.hotel-section {
    border: 1px solid #E5E5E5;
    padding: 20px 20px;
    border-radius: 4px;
}

.hotel-section p {
    margin: 0;
}

.title-hotel-xl {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
}

.subtitle-type-hotel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.style-button {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.detail {
    background-color: #756157;
}

.detail:hover {
    background-color: #615048;
}

.detail:active {
    opacity: 0.7;
}

.favourites {
    background-color: #82B3D3;
}

.favourites:hover {
    background-color: #68A2CA;
}

.favourites:active{
    opacity: 0.7;
}

.additions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}

.text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #000000;
}

.rating {
    padding: 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: start;
}

.rating:hover {
    border: 2px solid #68A2CA;
}

.rating:active {
    opacity: 0.5;
}

.controls-list {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.controls {
    padding: 14px 12px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
}

.controls:hover {
    border: 2px solid #000000;
}

.controls:active {
    border: 2px solid #000000;
}

.number-pages {
    display: flex;
    padding-left: 70px;
    padding-top: 90px;
    gap: 8px;
    list-style: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: #000000;
}

.page:hover {
    color: #ffffff;
    background-color: #68A2CA;
}

.page:active {
    opacity: 0.7;
}

.page-continuation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: #000000;
}

.slogan-style {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.slogan-footer {
   padding-left: 398px;
   padding-right: 398px;
   padding-top: 96px;
   color: #000000;
}

.bottom-text-style {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
}

.bottom-text-footer {
    padding-left: 363px;
    padding-right: 363px;
}

.footer-list {
   display: flex;
   justify-content: center;
   text-align: center;
   background-size: 100%;
   background-repeat: no-repeat;
   height: 420px;
   margin-top: 96px;
}

.bottom-text-footer {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    width: 500px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 54px;
    margin-left: 170px;
    margin-right: 170px;
}

.email {
    width: 452px;
    border-radius: 4px 0 0 4px;
    border: none;
    height: 50px;
    padding-left: 20px;
    background-color: #F2F2F2;
}

.button-email {
    background-color: #82B3D3;
    color: #ffffff;
    padding: 8px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 0 4px 4px 0;
    border: none;
    height: 52px;
    text-transform: uppercase;
}

.button-email:hover {
    background-color: #68A2CA;
}

.button-email:active {
    opacity: 0.8;
}

.email-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
}

.footer-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.logo-html:hover {
    color: #756157;
}

.logo-html:active {
    opacity: 0.5;
}

.number {
    color: #000000;
    text-decoration: none;
    width: 331px;
    height: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.number:hover {
    color: #756157;
}

.number:active {
    opacity: 0.5;
}

.social-media {
    padding-left: 27px;
}

.social-media:active {
    opacity: 0.5;
}
