.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;

}

.navigation-link {
    font-weight: 700px;
    padding: 20px 0;

}


.navigation-items {
    padding: 22px 0;
    margin-right: 70px;

}

.want-here {
    background-color: #756157 ;
    color: white;
    width: 160px;
    height: 36px;
    padding: 8px 34px;
    border-radius: 4px;
}

.top-image {
    width: 100%;
    height: auto;
}

.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.article-first {
    width: 620px;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    color: black;
    padding-top: 69px;
    padding-left: 290px;
    padding-right: 290px;
}

.about-sedona {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #82B3D3;
}

.heading {
    text-align: flex-end;
    color: black;
}



.about-sedona-facts {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card-h2 {
    width: 175px;
    height: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: black;
}

.card-p {
    width: 230px;
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: black;
}

.card-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D31F;
    width: 400px;
    height: 385px;
}

.card-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D333;
    width: 400px;
    height: 385px;
}

.search-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-hotel-footer {
    text-align: center;
}

.button-onclick {
    background-color: #756157;
    width: 376px;
    height: 52px;
    color: white;
    border-radius: 4px;
}

.section-footer {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.number {

    width: 331px;
    height: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.social-media {
    width: 142px;
    height: 40px;
}

.footer-list {
   display: flex;
   justify-content: center;
}

.footer-subscribe {
    text-align: center;
}

.email {
    width: 452px;
    height: 52px;
    border-radius: 4px;
}

.button-email {
    background-color: #82B3D3;
    color: white;
    width: 232px;
    height: 52px;
}

.mailing {
    height: 36,35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.mailing-bottom {
    height: 52,52px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
