@font-face {
    font-family: PT Sans;
    font-weight: 400;
    src: url('./fonts/ptsans-400.woff2');
}

@font-face {
    font-family: PT Sans;
    font-weight: 700;
    src: url('./fonts/ptsans-700.woff2');
}

body {
    margin: 0;
    padding: 0;
    width: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    margin-left: 70px;
}

.navigation-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation-link-more {
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT sans', sans-serif, system-ui;
    font-weight: 700;
    letter-spacing: 0%;
    border-bottom: 2px solid transparent;
}

.navigation-link-more:hover {
    border-bottom-color: #000000;
}

.navigation-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.navigation-items-more {
    padding-right: 25px;
}

.want-here {
    border: none;
    background-color: #756157 ;
    color: #ffffff;
    width: 160px;
    min-height: 36px;
    padding: 8px 34px;
    border-radius: 4px;
    list-style: none;
    font-family: 'PT sans', sans-serif, system-ui;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.want-here:hover {
    background-color: #615048;
}

.want-here:active {
    opacity: 0.8;
}

.main-top-img {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-image: url('./img/index-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 51px;
}

.top-image {
    width: auto;
    height: auto;
}

.section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-style {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT sans', sans-serif, system-ui;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.slogan-main {
    padding-top: 69px;
    padding-left: 290px;
    padding-right: 290px;
    text-transform: uppercase;
}

.slogan-section {
    padding-left: 348px;
    padding-right: 348px;
    padding-top: 64px;
}

.slogan-search {
    padding-top: 96px;
    padding-left: 452px;
    padding-right: 452px;
}

.slogan-footer {
   padding-left: 398px;
   padding-right: 398px;
   padding-top: 96px;
   color: #ffffff;
}

.bottom-text-style {
    font-family: 'PT sans', sans-serif, system-ui;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
}

.bottom-text-main {
    padding-left: 275px;
    padding-right: 275px;
    padding-bottom: 90px;
}

.bottom-text-section {
    padding-left: 355px;
    padding-right: 355px;
    padding-bottom: 64px;
}

.bottom-text-search {
    padding-left: 304px;
    padding-right: 304px;
}

.bottom-text-footer {
    padding-left: 343px;
    padding-right: 343px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: auto;
}

.lead-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
}

.lead-bottom {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 385px;
}

.lead-middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
}

.title-middle-xl {
    font-family: 'PT sans', sans-serif, system-ui;
    width: 175px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.title-advantages-xl {
    font-family: 'PT sans', sans-serif, system-ui;
    width: 175px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.title-middle-xl::after {
    content: "";
    display: block;
    width: auto;
    max-width: 60px;
    border-bottom: 2px solid #0000004D;
    margin: 30px auto 0;
}

.title-lead-xl {
    font-family: 'PT sans', sans-serif, system-ui;
    width: 197px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.title-lead-xl::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom:2px solid #FFFFFF4D;
    margin: 30px auto 0;
}

.subtitle-middle-l {
    font-family: 'PT sans', sans-serif, system-ui;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.subtitle-lead-l {
    font-family: 'PT sans', sans-serif, system-ui;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}

.card-dark-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #82B3D3;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D31F;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D333;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.img-sedona {
    flex: 1 1 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.search-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-hotel-footer {
    text-align: center;
}

.button-search {
    background-color: #756157;
    padding: 8px 50px;
    color: white;
    border-radius: 4px;
    list-style: none;
    text-decoration: none;
    font-family: 'PT sans', sans-serif, system-ui;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border: none;
    margin-top: 54px;
    text-transform: uppercase;
}

.button-search:hover {
    background-color: #615048;
}

.button-search:active{
    opacity: 0.8;
}

.footer-list {
   display: flex;
   justify-content: center;
   text-align: center;
   background-image: url('./img/subscribe-backgroundimg.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   height: 420px;
   margin-top: 96px;
}

.bottom-text-footer {
    font-family: 'PT sans', sans-serif, system-ui;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    width: 500px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 54px;
    margin-left: 170px;
    margin-right: 170px;
}

.email {
    width: 452px;
    border-radius: 4px 0 0 4px;
    border: none;
    height: 50px;
    padding-left: 20px;
}

.button-email {
    background-color: #82B3D3;
    color: #ffffff;
    padding: 8px 50px;
    font-size: 20px;
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    line-height: 36px;
    border-radius: 0 4px 4px 0;
    border: none;
    height: 52px;
    text-transform: uppercase;
}

.button-email:hover {
    background-color: #68A2CA;
}

.button-email:active {
    opacity: 0.8;
}

.email-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
}

.footer-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.logo-html:hover {
    color: #756157;
}

.logo-html:active {
    opacity: 0.5;
}

.number {
    color: #000000;
    text-decoration: none;
    width: 331px;
    height: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.number:hover {
    color: #756157;
}

.number:active {
    opacity: 0.5;
}

.social-media {
    padding-left: 27px;
}

.social-media:active {
    opacity: 0.5;
}
