@font-face {
    font-family: 'PT-sans-400';
    src: url('.\fonts\ptsans-400.woff2');
}

@font-face {
    font-family: 'PT-sans-700';
    src: url('.\fonts\ptsans-700.woff2');
}

body {
    margin: 0;
    padding: 0;
    width: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    margin-left: 70px;
}

.navigation-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation-link-more {
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    letter-spacing: 0%;
}

.navigation-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.navigation-items-more {
    padding-right: 25px;
}

.want-here {
    background-color: #756157 ;
    color: #ffffff;
    width: 160px;
    min-height: 36px;
    padding: 8px 34px;
    border-radius: 4px;
    list-style: none;
    text-decoration: none;
    font-family: 'PT-sans-700', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
}

.main-top-img {
    background-image: url('.\img\index-background.jpg');
}

.top-image {
    width: 100%;
    height: auto;
}

.section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    padding-top: 69px;
    white-space: pre-wrap;
}

.bottom-text {
    font-family: 'PT-sans-400', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    width: auto;
    max-width: 700px;
    height: 52px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
}

.lead-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
}

.lead-bottom {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 385px;
}

.lead-middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
}

.title-black {
    width: auto;
    font-family: 'PT-sans-700', sans-serif;
    max-width: 197px;
    height: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.title-black::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #0000004D;
    margin: 20px auto 0;
}

.title-white {
    width: auto;
    font-family: 'PT-sans-700', sans-serif;
    max-width: 197px;
    height: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.title-white::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #ffffff;
    margin: 20px auto 0;
}

.subtitle-black {
    width: auto;
    font-family: 'PT-sans-400', sans-serif;
    max-width: 270px;
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.subtitle-white {
    width: auto;
    font-family: 'PT-sans-400', sans-serif;
    max-width: 230px;
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}

.card-dark-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #82B3D3;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D31F;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.card-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83B3D333;
    width: auto;
    height: 100%;
    flex: 1 1 50%;
}

.img-sedona {
    flex: 1 1 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.search-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-hotel-footer {
    text-align: center;
}

.button-search {
    background-color: #756157;
    padding: 8px 50px;
    color: white;
    border-radius: 4px;
    list-style: none;
    text-decoration: none;
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border: none;
    margin-top: 54px;
}

.footer-list {
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: #00004B;
   height: 420px;
   margin-top: 96px;
}

.slogan-footer {
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    padding-top: 69px;
    white-space: pre-wrap;
}

.bottom-text-footer {
    font-family: 'PT-sans-400', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    width: 500px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 54px;
    margin-left: 170px;
    margin-right: 170px;
}

.email {
    width: 452px;
    border-radius: 4px;
    border: none;
    height: 52px;
}

.button-email {
    background-color: #82B3D3;
    color: white;
    padding: 8px 50px;
    font-size: 20px;
    font-family: 'PT-sans-700', sans-serif;
    font-weight: 700;
    line-height: 36px;
    border-radius: 4px;
    border: none;
    height: 52px;
}

.footer-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.number {
    width: 331px;
    height: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.social-media {
    padding-left: 27px;
}
